.col {
	&.offset1 { margin-left: 8.33%; }
	&.offset2 { margin-left: 16.66%; }
	&.offset3 { margin-left: 25%; }
	&.offset4 { margin-left: 33.33%; }
	&.offset5 { margin-left: 41.66%; }
	&.offset6 { margin-left: 50%; }
	&.offset7 { margin-left: 58.33%; }
	&.offset8 { margin-left: 66.66%; }
	&.offset9 { margin-left: 75%; }
	&.offset10 { margin-left: 83.33%; }
	&.offset11 { margin-left: 91.66%; }
	&.offset12 { margin-left: 100%; }
}