@import 'variables';

.tracks-list {
	background-color: $white;
	max-height: 600px;
	overflow: auto;
}

.track {
	border-bottom: 1px solid #CCCCCC;
	vertical-align: middle;

	.controls {
		text-align: center;
	}

	.people {
		.artist {
			font-size: 1em;
			font-style: italic;
			color: #CCCCCC;
		}
	}

	.description {
		font-size: .5em;
	}
	
	.liked-by {
		vertical-align: middle;
		font-size: .6em;
		font-weight: bold;
		color: $red;
	}

	.timestamp {
		font-size: .7em;
		color: $lightGrey;
	}
	.track-info {
		font-size: 1.2em;
	}

	.progress {
		height: 2px;
		.bar {
			height: 100%;
			background-color: $red;
			width: 0%;
		}
	}
}