<div id="home">
	<div class="row">
		<div class="col c8 offset1">
			<h2>
				<i class="ico">☞</i> {{user.data.username}}
			</h2>
		</div>
		<div class="col c3 text-right" ng-show="loading">
			<p>
				<i class="fa fa-cog fa-spin"></i> loading
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col c8 offset1">
			<p>
				Showing recent likes from {{user.data.followings_count}} followed artists.
			</p>
		</div>
	</div>

	<div id="likes" class="row">
		<div class="col c8 offset2">
			<div ng-repeat="track in likes">
				<div player-embed></div>
			</div>
		</div>
	</div>
</div>